body {
    margin: 0;
  }
a:link {
  color: #737373;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #737373;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #B45E15;
  background-color: transparent;
  text-decoration: dotted;
}

a:active {
  color: #B45E15;
  background-color: transparent;
  text-decoration: none;
}

  .navbar {
    top: 0%;
    cursor: pointer;  
  }
  header {
    width: 70%;
    position: sticky;
    top: 0%;
    padding: 5px;
    color: #737373;
  }
  header ul {
    text-align: center;
    position: sticky;
    top: 0%;
    float: right;
    color: #737373;
  }
  header li {
    text-align: center;
    position: sticky;
    top: 0%;
    display: inline;
    padding: 50px;
    color: #737373;
  }
.icons{
    float: right;
    justify-content: space-between;
    max-width: 10%;
    max-height: 10%;
  }
  .header img {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    max-width: 10px;
    max-height: 10px;
    padding: 5px;
  }

.container2 {
  position: relative;
  text-align: center;
  color: white;
}

.container2 {
  position: absolute;
  width: 50%;
}

.container2 img {
  width: 100%;
  height: auto;
}

.container2 .btn {
  position: absolute;
  top: 80%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #4B5260;
  color: white;
  font-size: 56px;
  padding: 14px 74px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container2 .btn:hover {
  background-color: #B45E15;
}
.statistics {
  position: absolute;
  top: 130%;
  left: 0%;
}

.statistics {
  position: absolute;
  width: 100%;
}


.statistics img {
  width: 100%;
  height: auto;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0
}
.rectangle {
  height: 10px;
  width: 100px;
  background-color: #B45E15;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right section {
  padding-left: 10%;
}

.section {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 56.25%;
  margin-top: 21.875%;
}
.btn1 {
  position: absolute;
  top: 14%;
  left: 1%;
  background-color: #B45E15;
  color: white;
  font-size: 20px;
  padding: 4px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn1:hover {
  background-color: #4B5260;
}
.blend {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blend2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: relative;
  bottom: 0;
  background: #4B5260;
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 50px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

.featured {
  display: flex;
  justify-content: center;
  align-items: center;
}
.star {
  max-width: 200px;
  max-height: 200px;
 }
 .price {
  max-width: 200px;
  max-height: 200px;
 }
.shopbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-color: none;
}
.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B45E15;
  color: white;
  font-size: 20px;
  padding: 4px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn2:hover {
  background-color: #4B5260;
}
.rectangle1 {
  height: 5px;
  width: 100px;
  background-color: #B45E15;
  transform: rotate(90deg);
}
.buttonpartner {
  display: flex;
  justify-content: left;
  align-items: center;
}
.btn3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B45E15;
  color: white;
  font-size: 20px;
  padding: 4px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn3:hover {
  background-color: #4B5260;
}

.customer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe {
  background-color: #EBE1DA;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B45E15;
  color: white;
  font-size: 20px;
  padding: 4px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn-primary:hover {
  background-color: #4B5260;
}
.card-img-top {
    max-width: 100px;
    max-height: 100px;
}
.people {
 max-width: 200px;
 max-height: 200px;
}

.top img {
 max-width: 100px;
 max-height: 100px;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  background-color: #5E6678;
  padding: 10px;
  font-family: ‘Fredoka’, sans-serif;
}

footer img{
  height: 60px;
  padding-left: 30px;
  padding-top: 5px;
}
footer ul{
  list-style: none;
  padding-left: 0px;
}
footer li{
  display: inline-block;
  padding: 0px 30px;
  color: #FFF8EF;
}
hr {
  border: 9;
  border-top: 1px solid #FFF8EF;
  width: 50%;
  margin-left: 0;
    }
.logo img {
  align-items: center;
  display: inline-flex;
  justify-content: flex-end;
  width: 15%;
  padding-right: 30px;
}
footer h4{
  color: #FFF8EF;
  padding: 0px 30px;
    }
footer p{
  color: #FFF8EF;
  padding: 0px 30px;
    }
footer i{
  padding: 0px 10px;
  cursor: pointer;
    }
.row {
  display: flex;
  grid-template-columns:(1fr, 1fr);
  grid-gap: 5px;
  }

@media only screen and (max-width: 37.5em) {
  div.card-image img {
    width: 100%;
    height: auto;
  }
  .card-image {
     flex-direction: column;
  }
  .card {
    width: 70%;
    margin-top: 10px;
  }
}
html {
  scroll-behavior: smooth;
}


